<div class="jumbotron">
<h1>Welcome to the Grocery List App</h1>
<center><p>
	You've found the home page for the
	<%= link_to "Grocery List App", "http://onemonthrails.com" %>
	by Joshua Harvey.
</p><center>
<p>
	<%= link_to "Sign up now!" , "#", class:"btn btn-primary btn-lg" %>
</p>
</div>

		