$navbarBackgroundHighlight: white;
$navbarBackround: white;

@import 'bootstrap';

body
{
	padding: 20px;
}

h1{
	text-align: center;
}

.footer {
	margin-top: 50px;
	color: #FAFAD2;
	a {
		color: #808080;
	}
}
